*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background: black;
}
#mainCanvas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid rgb(185, 100, 20);
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
#playerImage, #backgroundImage, #boarImage, #lumbertImage{
    display: none;
}